html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lvl1 code {
  font-size: calc(theme("fontSize.4xl") * 0.93);
}

.lvl2 code {
  font-size: calc(theme("fontSize.2xl") * 0.93);
}

.lvl3 code {
  font-size: calc(theme("fontSize.xl") * 0.93);
}

.lvl4 code {
  font-size: calc(1theme ("fontSize.lg") * 0.93);
}

.lvl5 code {
  font-size: calc(theme("fontSize.base") * 0.93);
}

.lvl6 code {
  font-size: calc(theme("fontSize.base") * 0.93);
}

.syntax-dark {
  display: none;
}

.command-modal {
  max-height: calc(90vh - 10%);
}

.command-list {
  max-height: min(70vh, 900px);
}

body.iframe .back-links,
body.iframe .header {
  display: none;
}
